{% if page.url contains "/page" %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&amp;display=swap" media="all">
        <!-- <link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 1025px)" 
            href="../assets/css/desktop.css"> -->
        <link rel="stylesheet" type="text/css" media="" href="../assets/css/desktop.css">
        <!-- <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1024px)" 
            href="../assets/css/mobile.css"> -->
        <link rel="stylesheet" type="text/css" href="../assets/css/tabler-icons.css">
        <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
        <script src="../assets/js/modules.js"></script>
        <script src="../assets/js/modules/background.js"></script>
        <script src="../assets/js/modules/buttons.js"></script>
        <script src="../assets/js/modules/custom-feature.js"></script>
        <script src="../assets/js/modules/gif-autoload.js"></script>
        <script src="../assets/js/modules/chat.js"></script>
        <script src="../assets/js/modules/chatroom.js"></script>
        <script src="../assets/js/modules/draw.js"></script>
        <script src="../assets/js/modules/performance.js"></script>
        <link href="../assets/css/style.css" rel="stylesheet">
{% else %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&amp;display=swap" media="all">
        <!-- <link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 1025px)" 
            href="assets/css/desktop.css"> -->
        <link rel="stylesheet" type="text/css" media="" href="assets/css/desktop.css">
        <!-- <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1024px)" 
            href="assets/css/mobile.css"> -->
        <link rel="stylesheet" type="text/css" href="assets/css/tabler-icons.css">
        <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
        <script src="assets/js/modules.js"></script>
        <script src="assets/js/modules/background.js"></script>
        <script src="assets/js/modules/buttons.js"></script>
        <script src="assets/js/modules/custom-feature.js"></script>
        <script src="assets/js/modules/gif-autoload.js"></script>
        <script src="assets/js/modules/chat.js"></script>
        <script src="assets/js/modules/chatroom.js"></script>
        <script src="assets/js/modules/draw.js"></script>
        <script src="assets/js/modules/performance.js"></script>
        <link href="assets/css/style.css" rel="stylesheet">
{% endif %}
