<html lang="en"><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	{% include header.html %}
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="IOGames.fun">
        <title>𝗔𝗡𝗔𝗥𝗖𝗛𝗬 𝗖𝗛𝗔𝗧</title>
        <meta name="description" content="Anarchy Chat, Made by Lorenzino, Mr. iogames and more in TKR, is a mod for the chatbox on the website iogames.fun. this turns it into one big chat site! including: Enchanced chat, Animated Backgrounds, an alternate chat, and more!">
        <meta property="og:title" content="Anarchy chat - A chat and game site with minimal rules">
        <meta property="og:description" content="Anarchy Chat, Made by Lorenzino, Mr. iogames and more in TKR, is a mod for the chatbox on the website iogames.fun. this turns it into one big chat site! including: Enchanced chat, Animated Backgrounds, an alternate chat, and more!">
        <meta property="og:url" content="https://iogames.fun/">
        <link rel="canonical" href="https://iogames.fun/">
    </head>
    <body><video id="video-background" autoplay="" loop="" style="opacity: 0.6;"><source src="https://cdn.pixabay.com/video/2021/10/10/91562-629172467_large.mp4" type="video/mp4"></video>
        
        <div class="secondLayer" id="secLayer">
            <div id="secondChatServer" class="chatalt3 blur active">
                <div class="item" style="scrollbar-color: transparent rgba(255, 255, 255, 0);scrollbar-width: none;height: 100%;">
                    <iframe src="https://www3.cbox.ws/box/?boxid=3545430&amp;boxtag=KK9MuO" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto" style="position;height: 100%;"></iframe>
                </div>
            </div>
                {{ content }}            
        </div>
        <div class="desktop" id="gridLayer">
            <nav class="blur" id="navbar" style="">
                <div class="logo desktop opac" id="logoStyle"><div class="logo-top menu list" style="grid-area: logo-top;display: flex;align-items: flex-end;">
		{% include logo.html %}
		<span class="iogames titleName" style="color: white;">AnarchyChats</span><span class="fun titleName" style="color: #ffcc00;">.com</span></a></div><div class="logo-below" style="grid-area: logo-bottom;display: flex;align-items: flex-start;"><span class="subtext subTitleName" style="color: grey;">By Lorenzino, mr.iogames, and more</span></div></div>
                <div class="button list opac" style="z-index: 0;height: 50px;display: flex;flex-direction: row;align-items: center;margin: 0;padding: 0;white-space: nowrap;">
                    <a class="item navButton desktopButton" href="#" title="" id="gamePageButton">
                        <i class="fa fa-gamepad" style="font-weight: 600;padding: 0.75rem 1rem; font-size:28px;font-style: normal; display: block;"></i>
                    </a>
                    <a class="item navButton desktopButton" href="#" title="" id="firstDrawButton">
                        <i class="fa fa-pen" style="font-weight: 600;padding: 0.75rem 1rem; font-size:28px;font-style: normal; display: block;"></i>
                    </a>
                    <a class="item navButton desktopButton" href="#" title="" id="secondChatButton">
                        <i class="fa fa-comment" style="font-weight: 500;padding: 0.75rem 1rem; font-size: 28px; font-style: normal; display: block;"></i>
                    </a>
                    <a class="item navButton desktopButton" href="#" title="" id="toggleButtonSidebarDesktop">
                        <i class="fa fa-bars" style="font-weight: 600; padding: 0.75rem 1rem; font-size: 28px; font-style: normal; display:block;"></i>
                    </a>
                    <a class="item navButton mobileButton" href="#" title="" id="secondChatButtonMobile">
                    <i class="fa fa-comment" style="font-weight: 500;"></i>
                </a>
                <a class="item navButton mobileButton" href="#" id="toggleButtonFullscreen">
                    <i class="fa fa-expand"></i>
                </a>
                <a class="item navButton mobileButton" href="#" title="" id="toggleButtonChat">
                    <i class="far fa-comments"></i>
                </a>
                <a class="item navButton mobileButton" href="#" title="" id="toggleButtonSidebar">
                    <i class="fa fa-bars" style="font-weight: 600;"></i>
                </a>
                </div>
            </nav>
            <div class="sidebar" style="grid-area: sidebar;z-index: 3;">
                <div class="chats">
                    <div class="chatalt" style="scrollbar-color: transparent rgba(255, 255, 255, 0);scrollbar-width: none;">
                        <div class="item blur minnit" style="scrollbar-color: transparent rgba(255, 255, 255, 0);scrollbar-width: none;">
                            <div id="chat2">
                                <form id="message2" style="
    display: grid;
    grid-template-areas:
        &quot;input button&quot;;
    grid-template-columns: 1fr auto;
    grid-template-rows: 48px;
    height: 48px;
">
                                    <input type="text" id="msg2" placeholder="Message" size="58" autofocus="">
                                    <i type="submit" id="send2" value="Send" style="background-color: transparent;color: white;padding: 1rem;width: 53.33px;" class="fa fa-lg fa-paper-plane"></i>
                                </form>
                                <div id="log2"></div>
                                <form id="name2" style="
    display: grid;
    grid-template-areas:
        &quot;input button&quot;;
    grid-template-columns: 1fr auto;
    grid-template-rows: 48px;
    height: 48px;
">
                                    <input type="text" id="nme2" placeholder="Name" size="58" autofocus="">
                                    <div id="colorpicker2" style="color: rgb(50, 22, 200); padding: 1rem; width: 53.33px;" class="fa fa-lg fa-palette"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <p></p>
                </div>
            </div>
            <div class="mid" style="
    grid-area: mid;
    z-index: 0;
">
                <div class="middle" style="
    height: 100%;
    width: 100%;
">
                    <div class="draw drawClass active" id="firstDrawServer" style="scrollbar-color: transparent rgba(255, 255, 255, 0);scrollbar-width: none;/* left: 330px; top: 50px; */width: 100%;height: 100%;z-index: 1;px;transition: bottom 0.35s ease;position: relative;">
                        <canvas class="whiteboard" width="904" height="730" style="
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
"></canvas>
                        <div class="colors" style="
    z-index: 2;
">
                            <div class="colorpicker-draw" style="background-color: rgb(57, 168, 210); border-color: rgba(0, 0, 0, 0.17); border-width: thick; z-index: 2; border-style: solid;"></div>
                            <!-- <i class="fa fa-eraser" id="eraser"></i> -->
                            <button id="wipe" class="blur" style="font-family: 'Exo 2';border-width: 2px;border-style: solid;border: 1px solid rgba(255, 255, 255, 0.15);border-radius: 5px;/* background-color: transparent; */z-index: 2;">Wipe Whiteboard</button>
                        </div>
                    </div>
<div class="sidebars">
				<div class="item opac">
					<div class="desktopblock blockedUsersListClass all">Blocked Users:</div>
				</div>
				<div class="item opac">
					<input type="text" placeholder="Block user" class="desktopblock blockInputClass">
				</div>
				<div class="item opac">
					<input type="text" placeholder="Unblock user" class="desktopblock unblockInputClass">
				</div>
				<div class="item opac">
					<button class="desktopblock unblockAllButtonClass">Unblock All</button>
				</div>
				<div class="item opac">
					<input type="color" id="usernameColorPicker" class="desktopblock colorPickerClass">
				</div>
			</div>
			{% include image.html %}
                    <div class="foot opac" style="opacity: 100%;">
                        https://anarchychats.com<br>inspired by iogames.fun
                    </div>
                </div>
            </div>
            <div class="rsidebar" id="thirdChatStyle">
                <div class="chatalt2" style="scrollbar-color: transparent rgba(255, 255, 255, 0);scrollbar-width: none;top: 50px;">
                    <div class="item minnit blur" id="thirdChatServer" style="scrollbar-color: transparent rgba(255, 255, 255, 0);scrollbar-width: none;">
                        <div id="chat3">
                            <form id="message3" style="
    display: grid;
    grid-template-areas:
        &quot;input button&quot;;
    grid-template-columns: 1fr auto;
    grid-template-rows: 48px;
    height: 48px;
">
                                <input type="text" id="msg3" placeholder="Message" size="58" autofocus="">
                                <i type="submit" id="send3" value="Send" style="background-color: transparent;color: white;padding: 1rem;width: 53.33px;" class="fa fa-lg fa-paper-plane"></i>
                            </form>
                            <div id="log3"></div>
                            <form id="name3" style="
    display: grid;
    grid-template-areas:
        &quot;input button&quot;;
    grid-template-columns: 1fr auto;
    grid-template-rows: 48px;
    height: 48px;
">
                                <input type="text" id="nme3" placeholder="Name" size="58" autofocus="" style="
    grid-area: input;
">
                                <i id="colorpicker3" style="color: rgb(50, 22, 200); grid-area: button; width: 53.33px; padding: 1rem;" class="fa fa-lg fa-palette"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside id="sidebars" class="blur" style="
    position: fixed;
    transition: left 0.25s ease;
">
            <div class="sidebars">
                <div class="header">Anarchy Chat
				</div>
                <div class="backgroundstyles">
    <li>
                    <p class="b1" id="hoverButton">Background 1
					</p>
    </li>
<li>
    <p class="b2" id="hoverButton">Background 2
					</p>
    </li>
<li>
    <p class="b3" id="hoverButton">Background 3
					</p>
    </li>
<li>
    <p class="b4" id="hoverButton">Background 4
					</p>
    </li>
<li>
    <p class="b5" id="hoverButton">Background 5
					</p>
    </li>
<li>
    <p class="b6" id="hoverButton">Background 6
					</p>
    </li>
<li>
    <p class="rem" id="hoverButton">No Background
					</p>
    </li>
                </div>
                <!-- Blocking feature -->
                <div class="sidebars blocksidebar">
                    <div class="item">
                        <div class="mobileblock blockedUsersListClass all">Blocked Users:</div>
                    </div>
                    <div class="item">
                        <input type="text" placeholder="Block user" class="mobileblock blockInputClass">
                    </div>
                    <div class="item">
                        <input type="text" placeholder="Unblock user" class="mobileblock unblockInputClass">
                    </div>
                    <div class="item">
                        <button class="mobileblock unblockAllButtonClass">Unblock All</button>
                    </div>
                    <div class="item">
                        <input type="color" id="usernameColorPicker" class="mobileblock colorPickerClass">
                    </div>
                </div>
            </div>
        </aside>
        
        
<div class="performanceMode" id="performanceMode">
<div style="display: inline;">Performance Mode Activated!</div>
<span></span><i class="fa fa-leaf" style="display: inline;"></i>
</div>
    


</body></html>
